/* button */
*{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
}

button{
    color: white;
    background-color: rgb(6, 74, 119);
    border: 2px solid rgb(6, 74, 119);
    padding: 20;
    text-align: center;
    font-size: 16px;
    width: 200px;
    text-align: center;
    height: 50px;
    font-weight: 100;
    letter-spacing: 0.07em;
}

.button2{
    color: white;
    background-color: rgb(6, 74, 119);
    border: 2px solid rgb(6, 74, 119);
    padding: 20;
    text-align: center;
    font-size: 16px;
    width: 200px;
    height: 50px ;
    text-align: center;
    font-weight: 100;
    letter-spacing: 0.07em;
}

/* body */

body{
    background-color: rgba(6, 74, 119, 0.13);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}

/* main heading */
h2, h3{
    color: rgb(0, 38, 63);
    text-align: center;
}

/* h2 */

p{
    color: rgb(6, 74, 119);
    text-align: center;
}

.wrong{
    color: rgb(71, 8, 8);
    text-align: center;
    font-size: large;
}

.right{
    color: rgb(7, 56, 7);
    text-align: center;
    font-size: large;
}

.linespace{
    line-height: 1.6em;
    font-weight: 100;
}

hr{
    border: 1px solid rgb(6, 74, 119);
}
