/* button */

button{
    color: white;
    background-color: rgb(6, 74, 119);
    border: 2px solid rgb(6, 74, 119);
    padding: 20;
    text-align: center;
    font-size: 16px;
    width: 200px;
    text-align: center;
}

.button2{
    color: white;
    background-color: rgb(6, 74, 119);
    border: 2px solid rgb(6, 74, 119);
    padding: 20;
    text-align: center;
    font-size: 16px;
    width: 200px;
    text-align: center;
}

/* body */

body{
    background-color: white;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
}

/* main heading */
h2, h3{
    color: solid black;
    text-align: center;
    font-weight: bold;

}

/* h2 */

p{
    color: rgb(6, 74, 119);
    text-align: center;
    font-weight: bold;
}

.wrong{
    color: rgb(71, 8, 8);
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.right{
    color: rgb(7, 56, 7);
    text-align: center;
    font-size: large;
    font-weight: bold;
}
